@charset "utf-8";

@use "src/bootstrap/scss/bootstrap.scss";
@use "src/components/tag.scss";

html {
}
body {
}

// Scroll Bar
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(20, 20, 20, 1);
	border-radius: 10px;
}

.text-block {
	white-space: pre-line;
}
.v-visible {
	visibility: visible!important;
}
.v-collapse {
	visibility: collapse!important;
}
.v-hidden {
	visibility: hidden!important;
}

.theme.dropdown > .dropdown-toggle {
	--bs-nav-link-padding-x: 0.5rem;
}

.list-collection {
	.list.card {
		> .card-header > .bi-trash {
			color: var(--bs-danger);
		}
	}
}

.breadcrumb-item.active > a {
	color: inherit;
	text-decoration: none;
	pointer-events: none;
}

.page {
	padding: 20px;
}
.page.list {
	> .tags {
		justify-content: center;
		> .tag {
			font-size: 1.0rem;
		}
	}
}

.entry.card {
	width: 300px;
	> .card-header > .bi-trash {
		color: var(--bs-danger);
	}
	.card-img-container {
		display: flex;
		justify-content: center;
		height: 200px;
		> .card-img {
			width: auto;
			height: auto;
			max-height: 200px;
			max-width: 250px;
			margin-top: auto !important;
			margin-bottom: auto !important;
		}
	}
}
.entry.card.specific {
	--bs-card-border-color: rgb(0 93 255 / 60%);
	> .card-header {
		--bs-card-cap-bg: rgb(0 66 181 / 30%);
	}
}
.entry.card.idea {
	--bs-card-border-color: rgb(0 177 0 / 50%);
	> .card-header {
		--bs-card-cap-bg: rgb(3 105 0 / 30%);
	}
}
.entry.card.bundle {
	--bs-card-border-color: rgb(161 71 225 / 50%);
	> .card-header {
		--bs-card-cap-bg: rgb(90 15 149 / 30%);
	}
}
