@charset "utf-8";

@use "src/bootstrap/scss/bootstrap.scss";

html {
}
body {
}

// Scroll Bar
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(20, 20, 20, 1);
	border-radius: 10px;
}

.text-block {
	white-space: pre-line;
}
.v-visible {
	visibility: visible!important;
}
.v-collapse {
	visibility: collapse!important;
}
.v-hidden {
	visibility: hidden!important;
}

.theme.dropdown > .dropdown-toggle {
	--bs-nav-link-padding-x: 0.5rem;
}
